.floatRight
  float: right

.floatLeft
  float: left

.fullWidth
  width: 100%
  &.scrollX
    overflow-x: scroll
  &.invisible
    display: none
    *
      display: none
  &.scrollY
    overflow-y: scroll

.fullHeight
  height: 100vh

.fullScreen
  height: 100vh
  width: 100%

.noPadding
  padding: 0

.noPaddingVertical
  padding-top: 0
  padding-bottom: 0

.noPaddingHorizontal
  padding-left: 0
  padding-right: 0

.noMargin
  margin: 0

.noMarginBottom
  margin-bottom: 0

.noMarginVertical
  margin-top: 0
  margin-bottom: 0

.noMarginHorizontal
  margin-left: 0
  margin-right: 0

.floatLeft
  float: left

.floatRight
  float: right

.clearFloat
  clear: both

.upperCase
  text-transform: uppercase

.capitalize
  text-transform: capitalize

a
  &.underline
    text-decoration: underline
    &:hover
      text-decoration: underline
  &.hoverUnderline
    text-decoration: none
    &:hover
      text-decoration: underline
  &.noUnderline
    text-decoration: none
    &:hover
      text-decoration: none

=noPadding($var)
  @if $var == "top"
    padding-top: 0
  @else if $var == "left"
    padding-left: 0
  @else if $var == "bottom"
    padding-bottom: 0
  @else if $var == "right"
    padding-right: 0
  @else
    padding: 0

=noMargin($var)
  @if $var == "top"
    margin-top: 0
  @else if $var == "left"
    margin-left: 0
  @else if $var == "bottom"
    margin-bottom: 0
  @else if $var == right
    margin-right: 0
  @else
    margin: 0

.fullScreen
  width: 100%
  height: 100vh

=background($var)
  background-color: #{$var}
=keyframes($content)
  @keyframes #{$content}
    @content
  @-webkit-keyframes  #{$content}
    @content
  @-moz-keyframes  #{$content}
    @content
  @-o-keyframes #{$content}
    @content
  @-khtml-keyframes #{$content}
    @content
  @-ms-keyframes #{$content}
    @content
=transition($content)
  transition: #{$content}
  -webkit-transition: #{$content}
  -moz-transition: #{$content}
  -o-transition: #{$content}
=animation($content)
  animation: #{$content}
  -webkit-animation: #{$content}
  -moz-animation: #{$content}
  -o-animation: #{$content}
=transform($content)
  transform: #{$content}
  -webkit-transform: #{$content}
  -moz-transform: #{$content}
  -o-transform: #{$content}
@font-face
  src: url('../lib/fonts/Balqis.ttf')
  font-family: "Balqis"
@font-face
  src: url('../lib/fonts/Audrey-Bold.otf')
  font-family: "Audrey Bold"
@font-face
  src: url('../lib/fonts/Audrey-BoldOblique.otf')
  font-family: "Audrey Bold Oblique"
@font-face
  src: url('../lib/fonts/Forgottb.ttf')
  font-family: "Forgottb"
@font-face
  src: url('../lib/fonts/penna.otf')
  font-family: "Penna"
@font-face
  src: url('../lib/fonts/segoeuil.ttf')
  font-family: "Segoe UI Light"
@font-face
  src: url('../lib/fonts/GreatVibes-Regular.otf')
  font-family: "Great Vibes Regular"
.segoe
  font-family: "Segoe UI Light", sans-serif
.monster
  font-family: "Montserrat", sans-serif
.greatVibe
  font-family: "Great Vibes Regular", "Montserrat", "Segoe UI Light", sans-serif
.navigation
  width: 100%
  ul
    list-style: none
  li
    display: inline-block
.fullWidth
  width: 100%
.fullHeight
  height: 100vh
$percentageProgressSize: 120px
$carouselControlSize: 100px
$onePercent: 180deg / 100
.marginTop
  margin-top: 35px
  &.XL
    margin-top: 65px
  &.XXL
    margin-top: 100%
.marginLeft
  margin-left: 35px
  &.XL
    margin-left: 65px
  &.XXL
    margin-left: 100%
.marginRight
  margin-right: 35px
  &.XL
    margin-right: 65px
  &.XXL
    margin-right: 100%
.marginBottom
  margin-bottom: 35px
  &.XL
    margin-bottom: 65px
  &.XXL
    margin-bottom: 100%
h1.bold
  font-weight: 700
h1.title
  font:
    size: 55px
  margin:
    bottom: 0
    top: 50px
p.title
  font:
    size: 40px
    weight: 400
  margin:
    bottom: 45px
    top: 5px
p:not(.title)
  font:
    size: 18px
    family: "Montserrat", sans-serif
  &:not(.higherLineHeight)
    line-height: 160%
h1.monster
  &.L
    font-size: 32px
    &.toUpperCase
      text-transform: capitalize
  &.LX
    font-size: 45px
  &.XL
    font-size: 54px
    margin-bottom: 20px
    &.toUpperCase
      font-size: 44px
  &.XXL
    font-size: 90px
    &.toUpperCase
      font-size: 70px
.whiteBackground
  background-color: white
.whiteForeground
  color: ghostwhite
  &:hover
    color: ghostwhite
.toUpperCase
  text-transform: uppercase
.hoverUnderline
  text-decoration: none
  &:hover
    text-decoration: underline
.noUnderline
  text-decoration: none
  &:hover
    text-decoration: none
  &:focus, &:visited
    text-decoration: none
.noPaddingHorizontal
  padding:
    left: 0
    right: 0
.noPaddingVertical
  padding:
    top: 0
    bottom: 0
.noPadding
  padding: 0

.viewportHeight
  height: 100vh
  width: 100%
.miniViewportHeight
  width: 100%
  max-width: 100%
  min-height: 100%
  box-sizing: padding-box

.noTransition
  +transition('0s !important')

ul
  margin: 0
  padding: 0

.marginTop
  margin-top: 10px
  &.L
    margin-top: 30px
  &.XL
    margin-top: 50px
  &.XXL
    margin-top: 100px
  &.HUMONGOUS
    margin-top: 150px

p
  line-height: 170%
  font-size: 15px

.whiteForeground
  color: white
  *
    color: white

.ghostButton
  display: inline-block
  background-color: transparent
  border: 1px solid white
  color: white
  padding: 13px 30px
  border-radius: 900px
  font-size: 15px

.alignLeft
  text-align: left

.alignRight
  text-align: right

.eButton
  display: inline-block
  padding: 10px 20px
  border-radius: 7px
  color: white
  &.blue
    background-color: #003366
  &:hover
    color: white
  &:visited
    color: white
  @extend .noUnderline
  &.flat
    border-radius: 0

.eDataTable
  width: 100%
  border-collapse: collapse
  border: 1px solid #dddddd
  background-color: white
  border-radius: 9px
  &.invisible
    display: none
    *
      display: none
  &.wideTable
    width: 2500px
  &.scrollDown
    min-height: 200px
    width: 100%
    overflow-y: scroll
  &.zebra
    tbody
      tr:nth-of-type(even):not(.changed)
        background-color: #e8e8e8
        &:hover
          background-color: #80CBC4
          color: white
      tr
        &:hover
          background-color: #80CBC4
          color: white
          cursor: pointer
  &.borderTop
    border-top: 5px solid #80CBC4
    tr
      border-bottom: 2px solid #e8e8e8
    tbody
      tr:hover
        background-color: #80CBC4
        td:not(:first-of-type)
          color: white
  &.borderRight
    tr
      th:last-of-type, td:last-of-type
        border-right: 5px solid #80cbc4
      th:last-of-type
        border-radius: 0 9px 0 0
      &:last-of-type
        td:last-of-type
          border-radius: 0 0 9px 0
      border-bottom: 2px solid #e8e8e8
  &.borderLeft
    tr
      th:first-of-type, td:first-of-type
        border-left: 5px solid #80cbc4
      th:first-of-type
        border-radius: 0 9px 0 0
      &:first-of-type
        td:first-of-type
          border-radius: 0 0 9px 0
      border-bottom: 2px solid #e8e8e8
    tbody
      tr:hover
        background-color: #80CBC4
        td:not(:first-of-type)
          color: white
  td, th
    padding: 10px
  th
    padding-top: 20px
    padding-bottom: 20px
  &.scroll
    overflow-y: scroll

.tooltip
  font-family: "Montserrat", "Open Sans", sans-serif

.redFont
  color: #cc0000

.halfScreenVertical
  width: 100vw
  height: 50vh

.halfScreenHorizontal
  width: 50vw
  height: 100vh

.threeFourthScreenVertical
  width: 100%
  height: 80vh

.threeFourthScreenWidth
  width: 80%

.paddingTop
  margin-top: 30px

.blockDisplay
  display: block !important

.tableDisplay
  display: table

.noMarginLeft
  margin-left: 0 !important

.centerSelf
  margin: 0 auto

div.hamburger
  display: inline-block
  vertical-align: middle
  div
    width: 25px
    height: 4px
    background-color: #E0E0E0
    margin-bottom: 5px
    border-radius: 90px
  &.dark
    div
      background-color: #444444

.noMarginRow
  .row
    margin-left: 0
    margin-right: 0

.largerLineHeight
  line-height: 220%

$classSlogWidth: percentWidth
$classSlogHeight: percentHeight

@for $i from 1 through 100
  .#{$classSlogWidth}-#{$i}
    width: 0% + $i
  .#{$classSlogHeight}-#{$i}
    height: 0% + $i

.eModal
  width: 100vw
  height: 100vh
  position: fixed
  top: 0
  left: 0
  z-index: 900
  background-color: rgba(0,0,0,0.55)
  justify-content: center
  align-items: center
  opacity: 0
  display: none
  +transition(1s)
  &.view
    display: flex
  &.fadeIn
    opacity: 1
  .content
    background-color: white
    position: relative
    z-index: 901
    border-radius: 9px
    padding: 30px 15px
    width: 60%
    max-height: 90vh
    &.noPadding
      padding: 0
.fullHeightPercent
  height: 100%